* {
	color: #fff;
	font-family: 'Calligraffitti', cursive;
}

header, a, footer, #hello{
	font-family: 'Calligraffitti', cursive;
	color: #fff;
}

body {
	background-image: url("imgs/bck.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

img {
	width: 275px;
	height: 275px;
}

#hello{
	text-align: center;
	margin: 0;
	font-size: 20px;
}

nav a {
	color: #111;
	background-color: white;
}

.sample {
	width: 150px;
	height: 150px;
	display: inline;
}

#btn {
	border-left: 50%;
}

footer, a{
	font-size: 16px;
}

p {
	font-size: 16px;
}

footer {
	text-align: right;
	color: #111;
}